[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
AssetBundles/
Assets/AddressableAssetsData/*/*.bin
Assets/StreamingAssets/
package-lock.json
Packages/packages-lock.json
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.pdf
*.opendb
*.txt
*.VC.db
sysinfo.txt
*.apk
*.aab
*.unitypackage
.DS_Store
.vscode/
.idea/
*.tmp
*/.vs/
